body {
    font-family: monospace;
    background-color: black;
    color: green;
    text-align: center;
}

pre {
    font-size: 16px;
    line-height: 1.2;
}

#text {
    margin-top: 20px;
    font-size: 18px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: green;
    color: white;
    border: none;
}

button:hover {
    background-color: darkgreen;
}
